<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Day14-App</display-name>
  <welcome-file-list>
    <welcome-file>pages/login.html</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>driverName</param-name>
    <param-value>oracle.jdbc.OracleDriver</param-value>
  </context-param>
  <context-param>
    <param-name>connUrl</param-name>
    <param-value>jdbc:oracle:thin:@localhost:1521:XE</param-value>
  </context-param>
  <context-param>
    <param-name>userName</param-name>
    <param-value>system</param-value>
  </context-param>
  <context-param>
    <param-name>userPwd</param-name>
    <param-value>india123</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>org.capgemini.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveCustomerServlet</display-name>
    <servlet-name>SaveCustomerServlet</servlet-name>
    <servlet-class>org.capgemini.controller.SaveCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveCustomerServlet</servlet-name>
    <url-pattern>/SaveCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAllServlet</display-name>
    <servlet-name>ShowAllServlet</servlet-name>
    <servlet-class>org.capgemini.controller.ShowAllServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllServlet</servlet-name>
    <url-pattern>/ShowAllServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCustomerServlet</display-name>
    <servlet-name>UpdateCustomerServlet</servlet-name>
    <servlet-class>org.capgemini.controller.UpdateCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCustomerServlet</servlet-name>
    <url-pattern>/UpdateCustomerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteCustomerServlet</display-name>
    <servlet-name>deleteCustomerServlet</servlet-name>
    <servlet-class>org.capgemini.controller.deleteCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteCustomerServlet</servlet-name>
    <url-pattern>/deleteCustomerServlet</url-pattern>
  </servlet-mapping>
</web-app>